
{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/showUser.css') }}">
    <!-- Lien vers Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/listeUsers.css') }}">

</head>
<body>
   <div class="classs" style="width: 100%;     margin: 150px auto; margin-top: 0px;">

        <div class="row">
          {% include "_partials/_adminnav.html.twig"%}

          <main class="col-9 container border border-light bg-white p-2">

    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                 <th></th>
                <th>Autoriser/Restreindre</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
                <tr>
                                <th></th>

                    <td>{{ user.username }}</td>
                                    <th></th>

                    <td>
                        <form method="POST" action="{{ path('autoriser_user', {'id': user.id}) }}">
                            <input type="hidden" name="_method" value="PUT">
                            <label class="switch">
                                <input type="checkbox" name="autorise" {% if user.id in livre.getIdLivreAuto() %} checked {% endif %} onchange="this.form.submit()">
                                <span class="slider round"></span>
                            </label>
                        </form>
                    </td>
                </tr>
{% endfor %}
        </tbody>
    </table>

</div>
</div>
</body>
</html>
{% endblock %}
