{% extends 'base.html.twig' %}

{% block head %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/ajoutFiche.css') }}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
	<script src={{ asset("js/Fiche/add-form-fiche.js") }}></script>

{% endblock %}

{% block body %}
	<body>
		<div class="card-body classs">
			<h1>Ajouter une fiche</h1>
			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			<p class="text-muted">(*) sont des champs obligatoires.</p>
			{{ form_row(form.refer) }}
			{{ form_row(form.edition) }}
			{{ form_row(form.denomination) }}
			{{ form_row(form.statut) }}
			{{ form_row(form.texte) }}
			{{ form_row(form.traduction) }}
			{{ form_row(form.notes) }}
			{{ form_row(form.commentaire) }}
			{{ form_row(form.user) }}

			<div class="ficheMotCles" data-index="{{ form.ficheMotCles|length > 0 ? form.ficheMotCles|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.ficheMotCles.vars.prototype)|e('html_attr') }}">
				{% for ficheMotCle in form.ficheMotCles %}
					<div class="motClesGroup">
						{{ form_widget(ficheMotCle) }}

						<button type="button" class="btn btn-danger remove-mot-cle" style="margin-bottom:1em;float:right;">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				{% endfor %}
			</div>
			{{ form_row(form.plus) }}

			{{ form_end(form) }}

			
		</div>

		<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
	
</body>
{% endblock %}
